*{
    margin: o;
    padding: 0; 
}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 400px;
    width: 100%;
}
.box{
    width: 60px;
    background-color:blue ;
    flex-grow: 1;
    flex-basis: 80px;
    margin: 10px;
    text-align: center;
    color: aliceblue;
    padding: 30px;
}
.box1{
    background-color: red;
}